*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(164,239,246);
    background: radial-gradient(circle, rgba(164,239,246,1) 0%, rgba(107,220,242,1) 15%, rgba(23,177,201,1) 37%, rgba(9,148,173,1) 56%, rgba(26,104,142,1) 70%, rgba(21,32,121,1) 100%);
}
.contenedor-principal{
    width: 80vw;
    max-width: 700px;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border-radius: 65px;
    box-shadow: 0 0 30px rgba(164,239,246,1);
}
contenedor-botones{
    padding: 20px;
}
#cronometro{
    width: 100%;
    font-size: 95px;
    user-select: none;
    color: white;
    font-family: 'Silkscreen', cursive;
}
.boton{
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 0 0 30px rgb(113, 124, 125);
}
.boton:hover{
    box-shadow: 0 0 30px rgb(182, 191, 192);
}

#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i{
    background-color: rgb(45, 206, 31);
}
#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i{
    background-color: yellow;
}
#boton-reiniciar{
    background-color: red;
}